---
- hosts: localhost
  connection: local

  vars:
    COMPUTER_NAME: "{{ ansible_facts.system_vendor + ' ' + ansible_facts.product_name }}"
    COMPUTER_NAME_NOSPACES: "{{ COMPUTER_NAME | regex_replace(' ', '') }}"

    CURRENT_DESKTOP: '{{ ansible_facts.env.XDG_CURRENT_DESKTOP | regex_search("GNOME") }}'
    DISTRO: '{{ ansible_facts.distribution }}'

    HOME: '{{ ansible_env.HOME }}'
    PWD: '{{ ansible_env.PWD }}'

    XDG_CONFIG_HOME: '{{ HOME }}/.config'
    XDG_CACHE_HOME: '{{ HOME }}/.cache'
    XDG_DATA_HOME: '{{ HOME }}/.local/share'
    XDG_STATE_HOME: '{{ HOME }}/.local/state'


  pre_tasks:
    - name: Ensure XDG directories
      ansible.builtin.file:
        path: '{{ item }}'
        state: directory
      loop:
        - '{{ XDG_CONFIG_HOME }}'
        - '{{ XDG_CACHE_HOME }}'
        - '{{ XDG_DATA_HOME }}'
        - '{{ XDG_STATE_HOME }}'

    - name: Ensure ~/.local/bin
      ansible.builtin.file:
        path: '{{ HOME }}/.local/bin'
        state: directory

    - name: Add ~/.local/bin to $PATH
      ansible.builtin.blockinfile:
        path: "{{ HOME }}/.bashrc"
        block: export PATH="${HOME}/.local/bin:${PATH}"
        insertafter: EOF
        marker: '# {mark} Ansible Managed Block | Add ~/.local/bin to $PATH'
        prepend_newline: true
        append_newline: true
        state: present

  roles:
    - asdf-vm
    - git
    - emacs
    - languagetool

    # In order to interpolate variables in task names, they have to be
    # passed explicitly to the role (or set as facts, which is more
    # cumbersome).
    - role: linux
      computer_name: '{{ COMPUTER_NAME }}'
      computer_name_nospaces: '{{ COMPUTER_NAME_NOSPACES }}'


  tasks:
    - name: Print all available facts (run with --tags debug)
      ansible.builtin.debug:
        var: ansible_facts
      tags: [ debug, never ]
...
