---
- hosts: localhost
  connection: local

  vars:
    CURRENT_DESKTOP: '{{ ansible_facts.env.XDG_CURRENT_DESKTOP | regex_search("GNOME") }}'
    DISTRO: '{{ ansible_facts.distribution }}'

    HOME: '{{ ansible_env.HOME }}'
    PWD: '{{ ansible_env.PWD }}'

    XDG_CONFIG_HOME: '{{ HOME }}/.config'
    XDG_CACHE_HOME: '{{ HOME }}/.cache'
    XDG_DATA_HOME: '{{ HOME }}/.local/share'
    XDG_STATE_HOME: '{{ HOME }}/.local/state'


  tasks:
    - name: Print all available facts (run with --tags debug)
      ansible.builtin.debug:
        var: ansible_facts
      tags: [ debug, never ]
...
