---
- name: Load list of dependecies to install for asdf-nodejs and asdf-ruby
  ansible.builtin.include_vars: '{{ DISTRO }}.yml'

- name: Include asdf-nodejs tasks
  include_tasks: asdf-nodejs.yml

- name: Include asdf-ruby tasks
  include_tasks: asdf-ruby.yml
...
