---
- name: Ensure Emacs directories
  ansible.builtin.file:
    dest: '{{ item }}'
    state: directory
  loop:
    - '{{ emacs_d }}'
    - '{{ XDG_STATE_HOME }}/emacs'

- name: Create projects file
  ansible.builtin.template:
    src: projects.j2
    dest: '{{ XDG_STATE_HOME }}/emacs/projects'
    force: false

- name: Configure keyboard when using GNOME
  include_tasks: gnome-keyboard.yml
  when: CURRENT_DESKTOP == 'GNOME'

- name: Include inf-ruby.yml
  include_tasks: inf-ruby.yml
...
